.gameEnd{
    color: red;
}
.Home{
    text-align: left;
}
.gameTitle{
    color: #FFD50A;
}
.gameHitory{
    max-width: 100px;
    display: flex;
    flex-direction: column;
}
.gameList{
    width: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #FFD50A;
}
.gameListFor2{
    grid-template-columns: auto auto auto;
}
.gameList:hover{
    cursor: pointer;
}
.gameList>li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    font-size: 40px;
    font-weight: 500;
    border: 1px black solid;
    position: relative;
    background-color: #FFD50A;
    text-align: center;
}
.blackLattice>span,.whiteLattice>span{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100px;
    overflow: hidden;
}
.blackLattice>span{
    background-color: #000000;
}

.whiteLattice>span{
    color: #FFFF;
    background-color: #FFFF;
}
